@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-omnes {
  font-family: 'Omnes', sans-serif;
}
.font-omnesreg {
  font-family: 'Omnesreg', sans-serif;
}
.font-omnesblack {
  font-family: 'Omnesblack', sans-serif;
}
.font-Omnessemi {
  font-family: 'Omnessemibold', sans-serif;
}
.font-Omnesmed {
  font-family: 'Omnesmedium', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* font-size: 16px; */
}
/* 
@media (max-width: 1700px) { :root { font-size: 16px; } }
@media (max-width: 1400px) { :root { font-size: 14px; } }
@media (max-width: 1024px) { :root { font-size: 12px; } }
@media (max-width: 767px) { :root { font-size: 10px; } }
@media (max-width: 480px) { :root { font-size: 8px; } }  */


@font-face {
  font-family: 'Omnes';
  src: url('/Omnes Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Omnesreg';
  src: url('/Omnes Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Omnesblack';
  src: url('/Omnes Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Omnesmedium';
  src: url('/Omnes Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Omnessemibold';
  src: url('/Omnes Semibold.ttf') format('truetype');
}

.custom_slider{
  outline: none;
  height: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #000000 ;
  border-color: #000000;
  overflow: hidden;
  width: 100%;
}

.custom_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  box-shadow: -400px 0 0 400px rgba(0, 0, 0); /* Using percentage */
  cursor: pointer;
  background-color: rgba(0, 0, 0);
}

